.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: #03a9f3;
}

.hero {
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}
    .hero > .row {
        display: inline-block;
        width: 600px;
        margin-left: calc( (100% - 600px) / 2 );
        margin-right: calc( (100% - 600px) / 2 );
        text-align: center;
        
}
        .hero > .row > img {
            display: inline-block;
            margin-bottom: 60px;
    }
        .hero > .row > h1 {
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
            color: #000;
            font-size: 60px;
            line-height: 60px;
            text-transform: uppercase;
        }
        .hero > .row > p {
            display: inline-block;
            width: 100%;
            margin-bottom: 60px;
            color: #777;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
        }
        .hero > .row > .clock {
            display: inline-block;
            width: 100%;
            margin-bottom: 60px;
            }
            .hero > .row > form {
                display: inline-block;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 20px;
            }
 
.content {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:  #fff;
}    
               
    .content .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
        margin-right: calc( (100% - 1000px) / 2 );
        
    }
    .content .row .left {
        display: inline-block;
        width: 50%;
        float: left;
        
    }
    .content .row .right {
        display: inline-block;
        width: 40%;
        float: right;
    }
        .content > .row h3 {
            display: inline-block;
            width: 100%;
            padding-bottom: 30px;
            text-transform: uppercase;
        }
        
        .content > .row p {
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 20px;
        }
            .content > .row p > a {
                color: #EA1E63;
                text-decoration: none;
            }