.mouse {
    display: inline-block;
    width: 120px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 60px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        background-color: #fff;
        background-image: url(../img/mouse.png);
        background-size: cover;
        animation: in-da-house 1s linear infinite;
        animation-play-state: paused;
    }
        .hero:hover .mouse > .wheel {
            animation-play-state: running;
        }

@keyframes in-da-house {
    0% {
        margin-top: 40px;s
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 120px;
        opacity: 0;
        transform: rotate(360deg);
    }
}